html,
body {
  height: 100%;
  width: 100%;
}

.root {
  width: 100%;
  height: 100%;
}
.container {
  display: grid;
  justify-items: center;
  width: 100%;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(100px, 3vw, 187px);
}

.menu-list {
  display: flex;
  list-style: none;
  justify-self: center;
  align-items: center;
  gap: clamp(35px, 1vw, 50px);
  width: 100%;
  height: 24px;

  li {
    margin-inline: 8px;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 155px;
  height: 24px;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 14px;

  button {
    margin-inline: 5px;
  }
}

.btn-login {
  width: 77px;
  height: 40px;
  color: #4caf4f;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-sing-up {
  width: 91px;
  height: 40px;
  background-color: #4caf4f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f7fa;
  width: 100%;
  height: 599px;
}

.frame-1 {
  display: grid;
  justify-content: start;
  max-width: 450px;
  width: 100%;
  max-height: 276px;
  height: 100%;
  gap: 16px;

  button {
    font-size: 24px;
    width: 128px;
    height: 52px;
    display: grid;
    align-items: center;
    align-content: center;
    border-radius: 4px;
    gap: 10px;
    padding: 32px 14px;
    color: #f5f7fa;
    border: none;
    background-color: #4caf4f;
    cursor: pointer;
  }
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.line-1,
.line-2 {
  display: inline;
}

.line-1 {
  color: #4d4d4d;
}

.line-2 {
  color: #4caf4f;
}

.pragraf-title {
  color: #717171;
}

.illustration {
  display: flex;
  max-width: 391px;
  width: 100%;
  max-height: 407px;
  height: 100%;
}

.dot {
  display: grid;
  align-self: end;

  max-width: 46px;
  width: 100%;
  height: 10px;
}
.clients-parents {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 300px;
}

.clients {
  width: 100%;
  max-height: 190px;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 10px;
}
.clients-1 {
  display: grid;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
}
.section-title-clients {
  width: auto;
  height: auto;
  font-size: 36px;
  display: grid;
  justify-content: center;
}
.description {
  font-size: 16px;
  width: auto;
  height: auto;
}
.clients-logos {
  max-width: 968px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: clamp(50px, 1.5vw, 136px);
}
.clients-img {
  width: 48px;
  height: 48px;
}
.community-clients {
  width: 100%;
  max-height: 117px;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 10px;
}
.section-title-community-clients {
  width: auto;
  height: 88px;
  display: grid;
  justify-content: center;
  span {
    display: grid;
    justify-content: center;
  }
}
.description-community-clients {
  font-size: 16px;
  display: grid;
  justify-content: center;
}
.frame-4 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: clamp(50px, 4vw, 150px);
}
.membership-organizatios {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 299px;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  gap: 8px;
}

.member {
  max-width: 267px;
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  gap: 16px;
  h3 {
    height: 72px;
    font-size: 28px;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}
.icon-membership {
  width: 65px;
  height: 56px;
}
.frame-3 {
  gap: 8px;
  max-width: 240px;
  width: 100%;
  height: auto;
  display: grid;
  p {
    display: grid;
    justify-content: center;
    justify-items: center;
    font-size: 14px;
  }
}
.national-associations {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 299px;
  width: 100%;
  height: 280px;
  display: grid;
  justify-content: center;
  gap: 8px;
}
.clubs-and-groups {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 299px;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  gap: 8px;
}

.unlock {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: clamp(20px, 3vw, 96px);
  width: 100%;
  height: 433px;
  background-color: white;
}

.frame-35 {
  max-width: 441px;
  width: 100%;
  max-height: 443px;
  height: 100%;
}

.frame-6 {
  display: grid;
  gap: 16px;
  max-width: 601px;
  width: 100%;
  max-height: 268px;
  height: 100%;
}

.pixelgrade {
  max-width: 601px;
  width: 100%;
  max-height: 88px;
  height: 100%;
  font-size: 36px;
}

.fringilla {
  max-width: 601px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.more {
  max-width: 151px;
  max-height: 52px;
  width: 100%;
  height: 100%;
  background-color: #4caf4f;
  color: #f5f7fa;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.body-1 {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 48px;
}

* {
  margin: 0;
  padding: 0;
}

.achievements {
  background-color: #f5f7fa;
  width: 100%;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(30px, 3vw, 150px);
}

.section-heading {
  width: auto;
  height: 120px;
  display: grid;
  align-items: center;
}

.section-title {
  width: 408px;
  height: 88px;
  font-size: 36px;
  color: #4caf4f;
  font-weight: bold;
}

.dedication {
  width: auto;
  height: 24px;
  font-size: 16px;
  color: #18191f;
}

.counts {
  max-width: 540px;
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(20px, 3vw, 40px);
  align-items: center;
}

.row-1,
.row-2 {
  display: contents;
}

.a-1,
.a-2,
.a-3,
.a-4 {
  max-width: 255px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
  width: 32px;
  height: 30px;
  margin-right: 16px;
  display: block;
}

.details-1,
.details-2,
.details-3,
.details-4 {
  text-align: left;
  width: 191px;
  height: 60px;
}

h3 {
  font-size: 1.2em;
  color: #4d4d4d;
  font-weight: bold;
}

p {
  font-size: 0.9em;
  color: #7f8c8d;
}

.numder-2,
.numder-1,
.numder-3,
.numder-4 {
  width: 191px;
  height: 36px;
  font-size: 28px;
}

.label-2,
.label-1,
.label-3,
.label-4 {
  width: 191px;
  height: 24px;
  font-size: 16px;
}

.unlock-1 {
  background-color: white;
  width: 100%;
  height: 433px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(20px, 3vw, 96px);
}

.mobile-login-pana {
  max-width: 441px;
  width: 100%;
  height: 433.4px;
}

.frame-7 {
  width: 100%;
  height: 308px;
}

.frame-5 {
  max-width: 601px;
  width: 100%;
  height: 224px;
  padding-bottom: 32px;
}

.site-footer {
  width: auto;
  height: 88px;
  font-size: 36px;
  color: #4d4d4d;
}

.content-text {
  width: auto;
  height: 120px;
  font-size: 14px;
  color: #717171;
}

.learn-more {
  width: 151px;
  height: 52px;
  border-radius: 4px;
  background-color: #4caf4f;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-top: 14px;
  font-size: 16px;
  color: #ffffff;
}

.customers {
  width: 100%;
  height: 390px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 3vw, 78px);
}

.img-9 {
  display: grid;
  max-width: 326px;
  width: 100%;
  max-height: 326px;
  height: 100%;
  border-radius: 8px;
}

.frame-11 {
  display: grid;
  gap: clamp(20px, 3vw, 32px);
  max-width: 748px;
  width: 100%;
  height: 324px;
}

.lorem-text {
  color: #717171;
  font-size: 16px;
  max-width: 601px;
  width: 100%;
  height: auto;
}

.content {
  display: grid;
  gap: 16px;
  max-width: 748px;
  width: 100%;
  height: 244px;
}

.frame-8 {
  display: grid;
  gap: 8px;
  max-width: 748px;
  width: 100%;
  height: 60px;
}

.tim-smith {
  color: #4caf4f;
  max-width: 748px;
  width: 100%;
  height: 28px;
  font-size: 20px;
}

.british-dragon {
  color: #89939e;
  max-width: 748px;
  width: 100%;
  height: 24px;
  font-size: 16px;
}

.frame-14 {
  gap: clamp(10px, 1vw, 32px);
  max-width: 748px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.frame-10 {
  display: flex;
  gap: clamp(15px, 0.5vw, 41px);
  width: auto;
  height: 48px;
}

.logo-member-1,
.logo-member-2,
.logo-member-3,
.logo-member-4,
.logo-member-5,
.logo-member-6 {
  width: 48px;
  height: 48px;
}

.frame-13 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  height: 44px;
}

.meet-customer {
  color: #4caf4f;
  font-size: 20px;
  width: 100%;
  height: 28px;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow-body {
  width: 20px;
  height: 2px;
  background-color: #00cc00;
}

.arrow-head {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #00cc00;
  margin-left: -4px;
}

.community-updates {
  max-height: 506px;
  width: 100%;
  height: 506px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  gap: 16px;
}

.community {
  display: grid;
  justify-items: center;
  gap: 8px;
  width: auto;
  height: 124px;
}

.section-title-community {
  display: grid;
  justify-content: center;
  color: #4d4d4d;
  height: 44px;
  font-size: 36px;
}

.description-community {
  color: #717171;
  max-width: 628px;
  width: 100%;
  height: 72px;
  font-size: 16px;
}

.frame-15 {
  display: flex;
  position: relative;
  gap: 24px;
  width: 100%;
  max-height: 366px;
  height: 100%;
}

.frame-15-1,
.frame-15-2,
.frame-15-3 {
  content: "";
  display: flex;
  justify-content: center;
  max-width: 368px;
  width: 100%;
  height: 366px;
}

.img-18,
.img-19,
.img-20 {
  max-width: 368px;
  width: 100%;
  max-height: 286px;
  height: 100%;
  border-radius: 8px;
}

.content-1-frame-15,
.content-2-frame-15,
.content-3-frame-15 {
  display: grid;
  align-self: end;
  justify-items: center;
  position: absolute;
  z-index: 10;
  border-radius: 16px;
  background-color: #f5f7fa;
  gap: 16px;
  max-width: 317px;
  width: 100%;
  height: 176px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.h4-Creating,
.h4-safeguarding,
.h4-Revamping {
  color: #717171;
  max-width: 285px;
  width: 100%;
  height: 94px;
  font-size: 20px;
}

.frame-20 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 285px;
  width: 100%;
  height: 44px;
  gap: 8px;
}

.readmore {
  width: auto;
  height: 28px;
  font-size: 20px;
  color: #4caf4f;
}

.footer {
  width: 100%;
  height: 628px;
  display: grid;
  justify-items: center;
}

.frame-16 {
  width: 100%;
  max-height: 300px;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 32px;
}

.let-nextcent {
  width: auto;
  height: 152px;
  font-size: 64px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #263238;
}

.demo {
  width: 178px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #4caf4f;
  border: none;
  border-radius: 4px;
  color: #ffffff;

  .arrow {
    .arrow-body {
      width: 16px;
      height: 2px;
      background-color: #ffffff;
    }

    .arrow-head {
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #ffffff;
      margin-left: -4px;
    }
  }
}

.footer-big-4 {
  background-color: #263238;
  width: 100%;
  max-height: 328px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company-info {
  width: auto;
  height: 189.67px;
  display: grid;
}

.logo-company {
  width: auto;
  height: 29.67px;
}

.copyright {
  display: grid;
  align-self: center;
  gap: 8px;
  width: auto;
  height: 48px;
}

.nexcent {
  color: #f5f7fa;
  width: auto;
  height: 20px;
  font-size: 14px;
}

.rights {
  color: #f5f7fa;
  width: auto;
  height: 20px;
  font-size: 14px;
}

.social-links {
  width: auto;
  height: 32px;
  align-self: end;
  display: flex;
  gap: 16px;
}

.social-icons1 {
  width: 32px;
  height: 32px;
}

.links {
  display: flex;
  gap: 30px;
  width: auto;
  height: 200px;
}

.col-1 {
  display: grid;
  gap: 24px;
  width: auto;
  height: 200px;
}

.col-2 {
  display: grid;
  gap: 24px;
  width: auto;
  height: 200px;
}

.col-3 {
  width: auto;
  height: 92px;
  display: grid;
  gap: 24px;
}

.list-items {
  display: grid;
  gap: 12px;
}

.company {
  color: #ffffff;
  width: auto;
  height: 28px;
  font-size: 20px;
}

.support {
  color: #ffffff;
  width: auto;
  height: 28px;
  font-size: 20px;
}

.about-us {
  color: #f5f7fa;
  width: auto;
  height: 20px;
  font-size: 14px;
}

.help-center {
  color: #f5f7fa;
  width: auto;
  height: 20px;
  font-size: 14px;
}

.stay-date {
  color: #ffffff;
  width: auto;
  height: 28px;
  font-size: 20px;
}

.input-field-bg {
  background-color: #f5f7fa;
  opacity: 20%;
  width: auto;
  height: 38px;
  border-radius: 8px;
  border: none;
  cursor: auto;
}

.input-1 {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.send-email {
  position: absolute;
  width: 18px;
  height: 18px;
}
